/run/config/carpettrapdoors-common.toml
/run/config/fml.toml
/run/config/forge-client.toml
/run/logs/2023-12-16-1.log.gz
/run/logs/2023-12-16-2.log.gz
/run/logs/2023-12-16-3.log.gz
/run/logs/debug.log
/run/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/latest.log
/run/options.txt
/.gradle/8.1.1/checksums/checksums.lock
/.gradle/8.1.1/checksums/md5-checksums.bin
/.gradle/8.1.1/checksums/sha1-checksums.bin
/.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.1.1/dependencies-accessors/gc.properties
/.gradle/8.1.1/executionHistory/executionHistory.bin
/.gradle/8.1.1/executionHistory/executionHistory.lock
/.gradle/8.1.1/fileChanges/last-build.bin
/.gradle/8.1.1/fileHashes/fileHashes.bin
/.gradle/8.1.1/fileHashes/fileHashes.lock
/.gradle/8.1.1/fileHashes/resourceHashesCache.bin
/.gradle/8.1.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/classes/java/main/at/mueseb/carpettrapdoors/block/CarpetTrapdoor$1.class
/build/classes/java/main/at/mueseb/carpettrapdoors/block/CarpetTrapdoor.class
/build/classes/java/main/at/mueseb/carpettrapdoors/block/ModBlocks.class
/build/classes/java/main/at/mueseb/carpettrapdoors/CarpetTrapdoorsMain.class
/build/classes/java/main/at/mueseb/carpettrapdoors/CarpetTrapdoorsTab.class
/build/classpath/runClient_minecraftClasspath.txt
/build/classpath/runData_minecraftClasspath.txt
/build/classpath/runGameTestServer_minecraftClasspath.txt
/build/classpath/runServer_minecraftClasspath.txt
/build/createMcpToSrg/output.tsrg
/build/createSrgToMcp/output.srg
/build/downloadMCMeta/version.json
/build/downloadMcpConfig/output.zip
/build/extractSrg/output.srg
/build/resources/main/assets/carpettrapdoors/blockstates/black_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/black_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/blue_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/blue_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/brown_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/brown_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/cyan_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/cyan_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/gray_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/gray_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/green_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/green_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/light_blue_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/light_blue_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/light_gray_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/light_gray_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/lime_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/lime_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/magenta_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/magenta_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/moss_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/moss_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/orange_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/orange_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/pink_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/pink_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/purple_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/purple_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/red_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/red_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/white_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/white_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/yellow_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/blockstates/yellow_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/lang/en_us.json
/build/resources/main/assets/carpettrapdoors/models/block/black_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/black_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/black_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/blue_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/blue_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/blue_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/brown_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/brown_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/brown_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/carpet_trapdoor_bottom_template.json
/build/resources/main/assets/carpettrapdoors/models/block/carpet_trapdoor_open_template.json
/build/resources/main/assets/carpettrapdoors/models/block/carpet_trapdoor_top_template.json
/build/resources/main/assets/carpettrapdoors/models/block/cyan_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/cyan_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/cyan_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/gray_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/gray_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/gray_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/green_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/green_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/green_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/light_blue_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/light_blue_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/light_blue_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/light_gray_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/light_gray_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/light_gray_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/lime_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/lime_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/lime_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/magenta_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/magenta_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/magenta_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/moss_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/moss_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/moss_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/orange_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/orange_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/orange_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/pink_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/pink_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/pink_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/purple_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/purple_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/purple_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/red_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/red_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/red_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/white_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/white_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/white_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/block/yellow_carpet_trapdoor_bottom.json
/build/resources/main/assets/carpettrapdoors/models/block/yellow_carpet_trapdoor_open.json
/build/resources/main/assets/carpettrapdoors/models/block/yellow_carpet_trapdoor_top.json
/build/resources/main/assets/carpettrapdoors/models/item/black_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/black_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/blue_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/blue_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/brown_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/brown_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/cyan_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/cyan_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/gray_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/gray_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/green_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/green_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/light_blue_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/light_blue_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/light_gray_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/light_gray_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/lime_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/lime_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/magenta_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/magenta_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/moss_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/moss_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/orange_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/orange_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/pink_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/pink_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/purple_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/purple_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/red_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/red_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/white_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/white_carpet_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/yellow_carpet_iron_trapdoor.json
/build/resources/main/assets/carpettrapdoors/models/item/yellow_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/black_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/black_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/blue_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/blue_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/brown_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/brown_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/cyan_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/cyan_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/gray_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/gray_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/green_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/green_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/light_blue_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/light_blue_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/light_gray_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/light_gray_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/lime_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/lime_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/magenta_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/magenta_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/moss_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/moss_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/orange_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/orange_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/pink_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/pink_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/purple_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/purple_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/red_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/red_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/white_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/white_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/yellow_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/loot_tables/blocks/yellow_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/black_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/black_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/blue_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/blue_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/brown_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/brown_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/cyan_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/cyan_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/gray_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/gray_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/green_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/green_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/light_blue_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/light_blue_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/light_gray_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/light_gray_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/lime_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/lime_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/magenta_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/magenta_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/moss_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/moss_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/orange_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/orange_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/pink_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/pink_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/purple_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/purple_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/red_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/red_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/white_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/white_carpet_carpet_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/yellow_carpet_carpet_iron_trapdoor.json
/build/resources/main/data/carpettrapdoors/recipes/yellow_carpet_carpet_trapdoor.json
/build/resources/main/META-INF/mods.toml
/build/resources/main/pack.mcmeta
/build/tmp/compileJava/compileTransaction/stash-dir/carpettrapdoors$ClientModEvents.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/carpettrapdoors.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/Config.class.uniqueId0
/build/tmp/compileJava/previous-compilation-data.bin
